@media screen and (min-width: 992px) {
    .tab_text {
        min-width: 200px;
    }
    .arrow-tabs {
        display: none;
    }
    .card-float-scope {
        margin: -250px 0px 0px 0px;
    }
    .higth-scope-text-card {
        font-size: 20px;
    }
}

@media (min-width: 0px) and (max-width: 640px) {
    .jardines-title {
        font-size: 22px;
    }
    .jardines-parrafo-regular {
        font-size: 15px;
    }
    .tab_text_two {
        min-width: 150px;
    }
}