body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
    color: 727475;
}


/* menu */

.nav-color {
    background-color: #164284;
    color: white;
    font-size: 16px;
    font-weight: 400;
}


/* banner */

.banner_contain {
    max-height: 400px;
}

.banner_carousel1 {
    /* background-color: rgb(132, 132, 132); */
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url("../img/banner_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_carousel2 {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url("../img/banner_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_carousel3 {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url("../img/banner_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* .banner_carousel4 {
    background-image: url("../img/BannerProcesoPostulacion.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
} */

.banner_information {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.banner_title {
    background-color: white;
    color: rgb(81, 81, 81);
    text-align: right;
    font-weight: 500;
}


/* .banner_button {
    display: flex;
    justify-content: end;
} */


/* ed. inicial */

.section_educacion_inicial {
    padding: 35px 0px;
}


/* cifras */

.section_cifras,
.section_frequent_questions,
.section_line_actions,
.section_higth_scope {
    padding: 25px 0px;
    background-color: #E1E6EF;
}

.cifras_num {
    font-size: 40px;
}

.content-lineAction {
    width: 20%;
}


/* .cifras_texto {
    color: rgb(90, 90, 90);
} */


/* secion fotos jardines */

.image_content {
    background-color: rgb(172, 172, 172);
    border: solid 2px rgb(86, 86, 86);
    width: 25%;
    min-height: 220px;
    /* min-height: 100px; */
}


/* tabs jardines */

.regiones_button {
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
}

.map-metropolitana {
    /* background-image: url("../img/map-region-rm.png"); */
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
}


/* metodologia higth scope */

.section_higth_scope_text {
    font-size: 28px;
}


/* voluntariado */

.section_voluntariado {
    padding: 25px 0;
}

.voluntariado_img {
    background-image: url("../img/voluntariado_laprotectora.jpg");
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}

footer {
    background-color: rgb(64, 64, 64);
    padding: 20px;
}


/* botones */

.btn-jardines {
    padding: .5rem 1rem;
    display: block;
    border-radius: .2rem;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    background-color: #C0D100;
    color: white;
}

.btn-jardines-sm {
    padding: .375rem .75rem;
    display: block;
    border-radius: .2rem;
    border: 1px solid transparent;
    font-size: .875rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    background-color: #C0D100;
    color: white;
}

.btn-jardines-sm:hover,
.btn-jardines.nav-link:hover {
    background-color: #A2AF07;
    color: white;
    font-weight: 600;
}

.btn-jardines-sm:focus,
.btn-jardines.nav-link:active {
    font-weight: 600;
    text-decoration: none;
    background-color: #A2AF07!important;
}


/* jardines*/

.jardines-contain-img {
    max-height: 300px;
}

.carousel_rm_ernestoPinto {
    background-image: url("../img/card_ernesto_rm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}

.contain-postular {
    background-color: #F7F9E4;
    border-radius: 1rem;
    text-align: center;
    padding: 20px;
}